
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}



.container{
    max-width: 1600px;
    width: 1240px;
}

nav{
    width: 100%;
    background-color: #1C1814;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    padding-left: 80px;
    padding-right: 80px;
}

nav ul{
    display: flex;
    gap: 30px;
}
  nav a{
    text-decoration: none;
    font-family: sans-serif;   
     color: white;
     border-bottom: 2px solid transparent;
     padding-bottom: 5px;

}
nav a:hover{
    color: #C99E71;
    cursor: pointer;
    border-bottom: 2px solid #C99E71;

}

ul li{
    list-style-type: none;
}


main{
    background-image: url("./main-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}
h1{
    font-family: Righteous;
    color: white;
    font-size: 50px;
}

main p{
    font-size: 20px;
    font-family: sans-serif;
}

main button{
    padding: 15px 30px;
    background-color: #C99E71;
    color: white;
    border: none;
    width: 202px;

}

main button:hover{
    padding: 15px 30px;
    background-color: #C99E71;
    color: white;
    border: none;
    width: 202px;
    opacity: 0.5;

}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
section{
    background-color: #14110E;
    padding-left: 100px;
    padding-right: 100px;
}

.maintext{
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
    padding: 80px 100px 100px 50px ;
}

.mainimg{
    display: flex;
    flex-direction: column;
    align-items: end;
    flex: 1;

}

.section1 p{
    color: white;
    font-family:Righteous ;
    font-size: 20px;

}

.section1 span{
    color: #C99E71;
    font-family:Righteous ;


}

.section1{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;

}

.section1 img{
width: 366px;
height: 420px;
}
.thisimg{
    display: flex;
    width: 600px;
    gap: 10px;
    flex: 1;
    flex-wrap: wrap;
}

.thistext{
    background-color: #1C1814;
    flex: 1;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}

.section2{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;

}

.section3 h2{
    font-family: Righteous;
    color: white;
}

.sec3_wrap{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.sec4{
    background-color: #1C1814;
    display: flex;
   padding: 40px 100px ;
   flex-wrap: wrap;

    
}
.section5{
    padding-top: 80px;
}

.main_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 50px;
    flex-wrap: wrap;
    padding-bottom: 50px;

}

.wrapper{
    flex: 1;
}
.wrapper1{
    flex: 1;
    
}

.section6 input{
    background-color: black;
    color: white;
    border: none;
    padding: 15px;

}
.section6{
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.input_wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}

.text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
}


.orash{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

footer{
    background-color: #14110E;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 80px;
    padding-right: 80px;
    flex-wrap: wrap;

    
}

footer p{
    font-family: sans-serif;
    color: white;
}